@import "tailwindcss";

@theme {
  --color-blood-50:  #fff1f1;
  --color-blood-100: #ffe0e0;
  --color-blood-200: #ffc6c6;
  --color-blood-300: #ff9d9d;
  --color-blood-400: #ff5c5c;
  --color-blood-500: #f42a2a;
  --color-blood-600: #d90f0f;
  --color-blood-700: #b00a0a;
  --color-blood-800: #8b0808;
  --color-blood-900: #5c0505;
  --color-blood-950: #2b0202;
}